# Dependencies
node_modules/

# Environment variables (TUYỆT ĐỐI PHẢI CÓ)
.env
.env.production
.env.local
.env.*

# Logs
logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Backup
backups/